body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #b9b8be;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #869fbe;
  border-radius: 5px;
  background-color: #908fac;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;


}

.button-group {
  text-align: center;
  margin-top: 20px;
  /* Menambah jarak atas */
}

.button-group button {
  margin: 0 10px;
  /* Penyesuaian margin agar simetris */
}

label {
  display: block;
  font-weight: bold;
}

textarea,
input[type="password"] {
  width: calc(100% - 10px);
  /* Penyesuaian lebar textarea agar simetris */
  padding: 10px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  margin: 0 5px;
  /* Penyesuaian margin agar simetris */
  border: none;
  border-radius: 5px;
  background-color: #16406c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button:hover {
  background-color: #0056b3;
}

.reset-button {
  text-align: center;
  margin-top: 20px;

}

#resetButton {
  display: block;
  margin: 0 auto;

}